<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Concordia - EJS Example</title>
    <!-- Your global style -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="full-window concordia page basicpage">


<%- include('partials/header', {
title: 'Home',
css: '/css/header.css'
}) %>

<div id="sgw_banner">
    <img
            src="/assets/sgw_banner.png"
            alt="Sir George Williams Campus Banner"
            class="full-width" />
</div>

<main id="main-content">

    <d>aaaaaaaaaaaaaaaaaaaaa</d>
</main>



<%- include('partials/footer') %>

</body>
</html>
